.gm {
  padding: 2.5rem 1rem;

  @include for-average() {
    padding: 1rem;
  }

  &__container.custom-container {
    border: 1px solid #E5E5E5;
    display: flex;
    border-radius: 6px;
  }

  &__right-map {
    max-width: 840px;
    width: 100%;
    height: 680px;
    border-radius: 0 6px 6px 0;
  }
  
  &__left


    &-nav {
      max-width: 360px;
      width: 100%;
      background-color: #fff;
      border-radius: 6px 0 0 6px;
      position: relative;
    }

    &-layout {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000000;
      opacity: 0.6;
      z-index: 3;
      display: none;
      transition: all 0.4s ease-out;
      border-radius: 6px 0 0 6px;

      &.isActive {
        display: block;
      }
    }

    &-input {
      border: none;
      max-width: 280px;
      width: 100%;
      margin: 0 auto;
      padding: 10px 0;
      font-size: 14px;

      &::placeholder {
        color: #E5E5E5;
        text-transform: uppercase;
      }

      &:focus {
        outline: none;
      }
      
      &_wrapper {
        display: flex;
        position: relative;
        border-bottom: 1px solid #E5E5E5;
      }

      &_search {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6.5C11 8.98528 8.98528 11 6.5 11C4.01472 11 2 8.98528 2 6.5C2 4.01472 4.01472 2 6.5 2C8.98528 2 11 4.01472 11 6.5ZM10.507 11.6184C9.4029 12.4839 8.01172 13 6.5 13C2.91015 13 0 10.0899 0 6.5C0 2.91015 2.91015 0 6.5 0C10.0899 0 13 2.91015 13 6.5C13 8.01172 12.4839 9.4029 11.6184 10.507C11.8335 10.5325 12.042 10.6278 12.2071 10.7929L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L10.7929 12.2071C10.6278 12.042 10.5325 11.8335 10.507 11.6184Z' fill='black' fill-opacity='0.3'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
      }
    }
  }

  &__address {
    &-card {
      list-style-type: none;
      padding: 18px 20px 10px;
      border-bottom: 1px solid #E5E5E5;
      will-change: background-color;
      transition: background-color 0.4s ease-out;
      
      &:hover {
        background-color: #fafafa;
      }

      &__name {
        font-weight: 700;
      }

      &__pickup,
      &__address {
        font-size: 14px;
        padding-bottom: 4px;
      }

      &__address {
        max-width: 210px;
        cursor: pointer;
      }

      &__pickup {
        color: #6BB324;
      }

      &__phone {
        position: relative;
        margin-bottom: 8px;

        &:before {
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12ZM7.26303 9C7.87305 9 8.40196 8.77196 8.83132 8.32771C9.27703 7.84001 8.7401 7.36534 8.36664 7.09518C8.3347 7.07208 8.30167 7.04686 8.26739 7.02068C8.05226 6.85645 7.78799 6.65469 7.43728 6.70301C7.19492 6.76145 7.06316 6.91134 6.93488 7.05728C6.8172 7.19115 6.70245 7.32169 6.50793 7.3753C6.2175 7.43132 5.92708 7.26325 5.75283 7.09518C5.34623 6.81506 5.05581 6.47891 4.76539 6.08674C4.64922 5.91867 4.47496 5.63855 4.53305 5.35843C4.57274 5.24357 4.69381 5.15488 4.80357 5.07447C4.85443 5.03721 4.90286 5.00174 4.93964 4.96626C4.96201 4.94468 4.98654 4.9231 5.01197 4.90072C5.11862 4.8069 5.24125 4.69901 5.28815 4.51807C5.33823 4.17995 5.17242 3.92512 5.01409 3.68178C4.98878 3.64288 4.96366 3.60427 4.93964 3.56566C4.93376 3.55809 4.92775 3.55034 4.92161 3.54242C4.74572 3.31561 4.4632 2.95128 4.12645 3.00541C3.90511 3.07658 3.59589 3.38509 3.42944 3.56566C2.98462 4.0482 2.84859 4.96626 3.1971 5.7506C3.48752 6.42289 3.9522 6.98313 4.41688 7.48735C4.93964 7.99156 5.4624 8.43976 6.10133 8.71988C6.44984 8.88795 6.79835 9 7.26303 9Z' fill='%23999999'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
          width: 16px;
          height: 16px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
        }

        a {
          color: #000000;
          text-decoration: none;
          padding-left: 18px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__work-time {
        max-width: 140px;
        width: 100%;
        padding-left: 18px;
        font-size: 14px;
        position: relative;

        &:before {
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12ZM6.85714 3C6.85714 2.52661 6.47339 2.14286 6 2.14286C5.52661 2.14286 5.14286 2.52661 5.14286 3V6C5.14286 6.22733 5.23316 6.44535 5.39391 6.60609L7.19391 8.40609C7.52864 8.74083 8.07136 8.74083 8.40609 8.40609C8.74083 8.07136 8.74083 7.52864 8.40609 7.19391L6.85714 5.64496V3Z' fill='%23999999'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
          width: 12px;
          height: 12px;
          left: 2px;
          top: 4px;
          position: absolute;
        }
      }
    }

    &-navbar {
      display: flex;
      flex-direction: column;
    }
  }
}

