// Colors
$green-d: #349A89;
$dark-d: #282828;
$white-d: #FFFFFF;
$grey-d: #F2F2F2;

$breakpoint-vm: 380px;
$breakpoint-sm: 560px;
$breakpoint-avg: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1024px;


@mixin for-verysmall {
  @media all and (max-width: $breakpoint-vm) {
    @content;
  }
}

@mixin for-small {
  @media all and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin for-average {
  @media all and (max-width: $breakpoint-avg) {
    @content;
  }
}

@mixin for-middle {
  @media all and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin for-large {
  @media all and (max-width: $breakpoint-lg) {
    @content;
  }
}
